body {
    color: white;
}

nav {
    height: 5vh;
    text-align: left;
}
nav .logo {
    width: 20px;
    height: 20px;
}

div {
    height: 25vh;
    text-align: left;
}


@media (max-width: 420px) {
    body {
        background-color: blue;
    }
    div {
        text-align: center;
    }
}

@media (min-width: 420px) and (max-width: 840px) {
    body {
        background-color: red;
    }
    nav {
        text-align: center;
    }
}

@media (min-width: 840px) {
    body {
        background-color: green;
    }
    div {
        color: black;
    }
}