nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    flex-basis: 25%;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
}

a { 
    font-size: x-large;
    text-align: center;
}