* {
    background-color: darkblue;
    text-align: center;
    color: antiquewhite;
}

header * {
    background-color: blue;
}

main * {
    background-color: blueviolet;
}

img {
    width: 50vw;
}

div .img {
    float: left;
    width: 50vw;
}

div .text {
    float: left;
    width: 50vw;
}

footer * {
    background-color: blue;
}