* {
    background-color: darkblue;
    text-align: center;
    color: antiquewhite;
}

header * {
    background-color: blue;
}

main * {
    float: left;
    background-color: blueviolet;
}

h2 {    
    float: none;
}

p {
    font-size: 19px;
}

img {
    width: 49vw;
}

div .img {
    width: 49vw;
}

div .text {
    width: 49vw;
}

footer * {
    background-color: blue;
}